

a{
    text-decoration: none;
}

.index_section{
    position: fixed;
    top: 25%;
    line-height: 1.8;
    width: 100%;
}


.main_title{
    color: white;
    font-weight: 900;
}



.sub_title{
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
    transition-duration: 1s;
    font-size: 20px;
    letter-spacing: 4px;
    padding: 5.5px 0;
}

.sub_title:after{
    content: ">";
    font-weight: 200;
    margin-left: 10px;
}

a:hover{
    text-decoration: none;
   
}

.sub_title:hover{
   background-color: rgba(255, 255, 255, 0.25);
   color: white;
   width: 100%;
}


/*detail_section*/

.detail_section{
    position: fixed;
        bottom: 5px;
}

.detail{
    color: white;
    font-weight: 200;
    font-size: 15px;
    letter-spacing: 3px;
}

.detail_section{
    margin-left: 20px;
    font-weight: 200;
    font-size: 15px;
    letter-spacing: 3px;
}

@media screen and (min-width: 0px) and (max-width: 576px) {
    .index_section{
        position: fixed;
        top: 20%;
        line-height: 1.8;
    }


    .detail_section{
        position: fixed;
        bottom: 5px;
    }

    .detail{
        color: white;
        font-weight: 200;
        font-size: 5px;
        letter-spacing: 3px;
      
    }
    
    .detail_section{
        display: block;
        font-weight: 200;
        font-size: 5px;
        letter-spacing: 3px;
    }

}