/*全域設定*/

body{
    background: url('../img/nature-bg.png');
} 



.section {
    margin: 70px auto;
    background: white;
    max-width: 1140px;;
}

.name {
    margin-top: 10px;
}

.title {
    text-transform: capitalize;
    margin-bottom: 30px;
    margin-left: 45%;
    font-weight: 900;
    position: relative;
    top: 20px;
    color: #683A25;
}

.subtitle {
    margin-bottom: 70px;
    line-height: 40px;
    position: relative;
    top: 20px;
}

.section.insect .title {
    margin-bottom: 80px;
}

a{
    color:black;
}

/*banner*/

#banner {
    background: url('../img/fort07-960x640.jpg');
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-position-y: 70%;
}

.banner_title {
    text-align: center;
    position: relative;
    top: 50px;
    letter-spacing: 3px;
    font-weight: 900;
    font-size: 60px;
    color: white;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
}

/*虛線效果*/

.dotted {
    margin-top: 90px;
    margin-bottom: 40px;
    border: 1px dotted  #683A25;

}

/*圖片放大效果*/

.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
}

/*分頁效果css*/

.pc_picture_margin {
    margin-top: 7px;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-color: #09345fab #09345fab #09345fab;
}

.nav-item {
    margin-right: 0px;
}

/*copyright*/

#footer {
   background: #495057;
    padding: 10px 0px;
    margin: 0px;
}

.copyright {
    color: white;
    margin-left: 5px;
}

/*手機CSS*/

@media screen and (min-width: 577px) and (max-width: 1140px) {
    .title {
        margin-left: 43%;
    }
}

@media screen and (min-width: 321px) and (max-width: 576px) {
    #banner {
        height: 150px;
    }
    .banner_title {
       position: relative;
       font-size: 40px;
    }
    .title {
        margin-left: 34%;
    }
    .dotted {
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .nav-tabs .nav-item {
        padding: 0px;
    }
    .subtitle {
        font-size: 15px;
        line-height: 30px;
        margin-bottom: 32px;
        line-height: 23px;
    }
    .section {
        margin: 30px 0px;
    }
    .mobile_picture_margin {
        margin-top: 2px;
    }
    .section.insect .title {
        margin-bottom: 40px;
    }
    .copyright {
        margin-left: 0px;
        font-size: 10px;
    }
}

@media screen and (min-width: 0px) and (max-width: 320px) {
    .section {
        margin: 30px 0px;
    }
    .banner_title {
       font-size: 40px;
    }
    #banner {
        height: 150px;
    }
    .title {
        margin-left: 33%;
    }
    .dotted {
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .copyright {
        margin-left: 0px;
        font-size: 10px;
    }
}