/*全域設定*/


.section{
    padding: 70px 0px;
}

.name{
    margin-top: 10px;
}

.title{

    text-transform: capitalize;
    margin-bottom: 30px;
    margin-left: 45%;
    font-weight: 900;
    

}

.title:after{
    content: "______";
    position: relative;
    top: 13px;
    left: -86px;
}

.subtitle{
    margin-bottom: 70px;
    line-height: 40px;
}

.section.insect .title{
    margin-bottom: 80px;
}

/*圖片放大效果*/

.grow { transition: all .2s ease-in-out; }

.grow:hover { transform: scale(1.1); }

/*分頁效果css*/

.pc_picture_margin{
    margin-top: 7px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-color: #09345fab #09345fab #09345fab;
}


.nav-item{
    margin-right: 0px;
}

/*copyright*/

.copyright{
    margin-left: 5px;
}



/*手機CSS*/



@media screen and (min-width: 321px) and (max-width: 576px) {
    
    .title{
        margin-left: 31%;
    }

    .nav-tabs .nav-item {
        padding: 0px;
    }

    .subtitle{
        font-size: 15px;
        line-height: 30px;
        margin-bottom: 32px;
        line-height: 24px;
        
    }

    .section{
        padding: 30px;
    } 

    .mobile_picture_margin{
        margin-top: 2px;
    }

    .section.insect .title{
        margin-bottom: 40px;
    }
}

@media screen and (min-width: 0px) and (max-width: 320px) {
    .title{
        margin-left: 31%;
    }
    
}