/*pc nav bar*/



#mobile_nav {
    display: none;
}

#header{
    height: 44px;
    background: white;
}

#nav {
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 999;
    transition-duration: 1s;

}

#nav.addbg {
    background: rgba(0, 0, 0, 0.9);
    color: white;
}

#logo img {
    margin-left: 20px;
    height: 81px;
}

#logo h1.addfs {
    color: white;
}

#navbar {
    margin-right: 82px;
}

#navbar li {
    margin-left: 3px;
    height: 50px;
}

#navbar li:after {
    content: "|";
    margin-left: 6px;
    position: relative;
    top: -1px;
}

#navbar li a {
    color: black;
    font-size: 15px;
    line-height: 94px;
}

#navbar li a.addfs {
    color: white;
}

/*icon*/

.icon{
    margin: 0px 2px;
    margin-top: 31px;
}

/*mobile bar*/

@media screen and (min-width: 931px) and (max-width: 991px) {
    #navbar {
        margin-right: -15px;
    }
}

@media screen and (min-width: 0px) and (max-width: 930px) {


    #nav {
        display: none;
    }

    hr {
        border-color: white;
    }

    #mobile_nav {
        display: block;
        position: fixed;
        width: 100%;
        z-index: 999;
        background: #8aa9a6;
    }

    #mobile_button {
        position: absolute;
        top: 27%;
        right: 3%;
    }

    #mobile_navbar {
        background: black;
        height: 100vh;
        width: 100%;
        transform: translate(1070px, 0px);
        transition-duration: 0.5s;
        position: absolute;
        top: 0px;
        padding: 0px;
        z-index: 9999;
    }

    #mobile_navbar li {
        text-align: center;
        padding: 20px 0px;
    }



    #mobile_navbar li a {
        color: white;
        font-size: 20px;
        background: black;
        position: relative;
        top: 28px;
        padding: 0 13px;
    }


    #mobile_navbar.show {
        transform: translate(0px, 0px);
        position: absolute;
        top: 0px;
    }

    hr {
        border-color: white;
    }

    #logo h1 {
        font-size: 30px;
        margin-top: 6px;
    }
}

@media screen and (min-width: 0px) and (max-width: 576px) {
    #header{
        height: 30px;
    }

    #logo img{
        height: 60px;
    }
}

