
body{
    height: auto;
}

p {
    line-height: 2.5;
}

#section {
    padding: 100px 0px;
}

/*copyright*/

.copyright {
    margin-left: 5px;
}

/*banner*/

#banner {
    background: url('../img/transportation.jpg');
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 70%;
    background-attachment: fixed;
    font-family: Helvetica, Arial, source-han-serif-tc , 微軟正黑體, sans-serif;
}

.banner_title {
    text-align: center;
    position: relative;
    top: 50px;
    letter-spacing: 3px;
    font-weight: 900;
    font-size: 60px;
    color: white;
    text-shadow: 2px 2px 0px rgba(0,0,0,0.5);
}

/*section1*/

.public_transportation{
     font-weight: 900;
     font-size: 40px;
     margin-top: 30px;
     font-family: Helvetica, Arial, source-han-serif-tc , 微軟正黑體, sans-serif;
}

.transportation_info{
    font-family: Helvetica, Arial, 微軟正黑體, sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 500;
    margin-top: 50px;
}

.bus_info{
    font-family: Helvetica, Arial, 微軟正黑體, sans-serif;
    border: 5px solid #516A81;
    padding: 10px 100px;
    color: #516A81;
    margin-top: 50px;
    font-weight: 500;
 }

 .bus_info:hover{
     background:#516A81;
     color: white;
 }

 .add_textCenter {
     text-align: center;
 }

/*section2*/
.drive{ 
    font-family: Helvetica, Arial, source-han-serif-tc , 微軟正黑體, sans-serif;
    font-weight: 900;
    font-size: 40px;
   }
.high_speed_way{
    font-family: Helvetica, Arial, 微軟正黑體, sans-serif;
    margin: 20px 0px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1.7;
}

/*section4*/
#address{
    padding: 20px 0px;
}

.address{
    font-family: Helvetica, Arial, 微軟正黑體, sans-serif;
    margin: 10px 0px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 3px;
}



/*footer*/

#footer {
    background: #373837;
    padding: 10px 0px;
    margin: 0px;
}

.copyright{
    color: white;
    font-family: Helvetica, Arial, 微軟正黑體, sans-serif;
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
    body{
        height: auto;
    }
    
    p {
        line-height: 1.8;
    }
} 

@media screen and (min-width: 577px) and (max-width: 992px) {
    body{
        height: auto;
    }
    
    #section {
        padding: 50px 0px;
    }
    p {
        line-height: 1.5;
        font-size: 15px;
    }
    
    .period {
        margin-top: 15px;
    }
    .story {
        margin-top: 30px;
    }
    .story_img {
        margin-bottom: 30px;
    }
    #banner {
        height: 150px;
        background-attachment: scroll;
    }
}

@media screen and (min-width: 321px) and (max-width: 576px) {
    body{
        height: auto;
    }
    
    #section {
        padding: 25px 0px;
    }
    #banner{
        height: 150px;
        background-attachment: scroll;
    }
    .banner_title {
       
        font-size: 40px;
    }
    .public_transportation{
        font-size: 30px;
        margin-top: 15px;
   }
   
   .transportation_info{
       font-size: 16px;
       letter-spacing: 1px;
       font-weight: 300;
       margin-top: 20px;
   }
   .drive{ 
    font-size: 30px;
   }

   .high_speed_way{
    margin: 10px 0px;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 1.4;
}
   
   .bus_info{
       border: 4px solid #1b474e;
       padding: 10px 70px;
       color: black;
       margin-top: 20px;
    }
    p {
        line-height: 1.4;
    }

    .address{
        font-weight: 300;
    }
   
    .copyright {
        margin-left: 0px;
        font-size: 16px;
    }

    .add_margin{
        margin-top:19px;
    }
    iframe {
        height: 250px;
    }
    .address{
        font-size: 16px;
        letter-spacing: 1px;
    }
}

@media screen and (min-width: 0px) and (max-width: 320px) {
    body{
        height: auto;
    }
    
    #section {
        padding: 30px 0px;
    }
    #banner{
        height: 150px;
        background-attachment: scroll;
    }
    .banner_title {
       
        font-size: 40px;
    }
    .public_transportation{
        font-size: 30px;
        margin-top: 15px;
   }
   
   .transportation_info{
       font-size: 16px;
       letter-spacing: 1px;
       font-weight: 300;
       margin-top: 20px;
   }
   .drive{ 
    font-size: 30px;
   }

   .high_speed_way{
    margin: 10px 0px;
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    line-height: 1.4;
}
   
   .bus_info{
       border: 3px solid #1b474e;
       padding: 10px 70px;
       color: black;
    }
    p {
        line-height: 1.4;
    }
   
    .copyright {
        margin-left: 0px;
        font-size: 16px;
    }
    .add_margin{
        margin-top: 19px;
    }
    iframe {
        height: 250px;
    }

    .address{
        font-size: 16px;
        letter-spacing: 0px;
    }
    
}